<!-- <app-post></app-post> -->

<!-- <p>{{ postArray }}</p>

<ul>
    <li>{{ postArray[0] }}</li>
    <li>{{ postArray[1] }}</li>
    <li>{{ postArray[2] }}</li>
    <li>{{ postArray[3] }}</li>
    <li>{{ postArray[4] }}</li>
</ul>

<p>Fetched using *ngFor Directive  </p>
<ul>
    <li *ngFor="let post of postArray"> {{ post }} </li>
</ul>

<p>Fetching Object Array using *ngFor Directive</p> -->

<!-- <button (click)="addNew()">Add New Data</button> -->

<!-- <div *ngIf="objArray.length > 0; else noData">
    <ul>
        <li *ngFor = "let post of objArray; let i = index">
            {{ post.postTitle }}
            <button (click)="onDelete(i)">Delete</button>
            <br>
        </li>
    </ul>
</div> -->

<!-- <ng-template #noData>
    <p>There is no Data to fetch .... </p>
</ng-template>

<p>ngSwitch Cases</p>
<div>
    <button (click)="onClick('step 1')">Step 1</button> 
    <button (click)="onClick('step 2')">Step 2</button> 
    <button (click)="onClick('step 3')">Step 3</button> 
</div>
<br>

<div [ngSwitch]="stepForm">
    <div *ngSwitchCase= "'step 1'">Step 1 Form</div>
    <div *ngSwitchCase= "'step 2'">Step 2 Form</div>
    <div *ngSwitchCase= "'step 3'">Step 3 Form</div>
    <div *ngSwitchDefault>Something else ....</div>
</div> -->

<!-- NG DIRECTIVE TASK -->

<div class="main-area">
    <h3>User Details</h3>
    <div><input type="text" placeholder="Name" [(ngModel)] = "name"></div> <br>
    <div><input type="text" placeholder="Email" [(ngModel)] = "email"></div> <br>
    <div><textarea cols="30" rows="10" placeholder="Address" [(ngModel)] = "address"></textarea></div><br>
    <div><button (click)="saveData()">Save Data</button></div>
    <br><br>
</div>

<div *ngIf="userDetail.length > 0; else noData">
    <div class="table-area">
        <table width="600">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </thead>
            <tr *ngFor = "let user of userDetail; let num = index">
                <td>{{ num + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <button (click)="onDelete(num)">Delete</button>
            </tr>
        </table>
    </div>
</div>
<ng-template #noData>
    <h4>No data to show ....</h4>
</ng-template>