<!-- <app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" (messageEvent)="receiveMessage($event)"></app-post>
<p>{{ fromChildOutput }}</p> -->

<div class="main">

    <app-post></app-post>
     <h1>Post Form</h1>  
    <div>
        <input type="text" [(ngModel)]="postTitle" placeholder="Post Title">
    </div><br>

    <div>
        <textarea [(ngModel)]="postDetails" rows="10" cols="50" placeholder="Post Details"></textarea>
    </div><br>

    <div>
        <input type="text" [(ngModel)]="imgURL"  alt="" placeholder="Post Image Url">
    </div><br>

    <div>
        <input type="text" [(ngModel)]="postUrl" placeholder="Post Url">
    </div><br>

    <div>
        <input type="checkbox" [(ngModel)]="addBackground"> Add Background
    </div>
</div>

<br><br><br><br>

<div class="main">

    <img [src]="imgURL" alt="">
    <h1 >
        <span [class.add-background]="addBackground">{{ postTitle }}</span>
    </h1> <br>
    <p>{{ postDetails }}</p> <br>
    <a [href]="postUrl" target="_blank" [style.display]="postUrl ? 'block' : 'none' ">More Details</a>

</div>